<a href="https://colab.research.google.com/github/A01706648/TC3006C_Deliver/blob/main/m1/M1_Delivery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
import pandas as pd

In [26]:
industry_dict = {'Accommodation and Food Services':'Services',
       'Administrative and Support and Waste Management and Remediation Services':'Services',
       'Agriculture, Forestry, Fishing and Hunting':'Agriculture',
       'Arts, Entertainment, and Recreation':'Services', 
       'Construction':'Construction',
       'Educational Services':'Services', 
       'Finance and Insurance':'Finance',
       'Health Care and Social Assistance':'Services', 
       'Information':'Services',
       'Manufacturing':'Manufacturing', 
       'Mining, Quarrying, and Oil and Gas Extraction':'Mining',
       'Other Services (except Public Administration)':'Services',
       'Professional, Scientific, and Technical Services':'Services',
       'Real Estate and Rental and Leasing':'Finance', 
       'Retail Trade':'Comercial',
       'Transportation and Warehousing':'Services', 
       'Utilities':'Energy', 
       'Wholesale Trade':'Comercial'}

In [35]:
drive.mount("/content/gdrive") 
%cd "/content/gdrive/MyDrive/Machine Learning/deliver/M1"
df = pd.read_csv('us2022q2a.csv')
df_firm = pd.read_csv('usfirms2022.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/Machine Learning/deliver/M1

In [13]:
df.head()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0
1,A,2000q2,2485000.0,1261000.0,1010000.0,0.0,42000.0,0.0,90000.0,7321000.0,2679000.0,512000.0,0.0,4642000.0,45.215607,73.7500,452271.967,6.0,2000.0,2.0
2,A,2000q3,2670000.0,1369000.0,1091000.0,0.0,28000.0,0.0,83000.0,7827000.0,2925000.0,528000.0,0.0,4902000.0,30.003238,48.9375,453014.579,9.0,2000.0,3.0
3,A,2000q4,3372000.0,1732000.0,1182000.0,0.0,10000.0,0.0,163000.0,8425000.0,3160000.0,830000.0,0.0,5265000.0,33.566841,54.7500,456366.381,12.0,2000.0,4.0
4,A,2001q1,2841000.0,1449000.0,1113000.0,0.0,-6000.0,0.0,119000.0,9208000.0,3667000.0,556000.0,0.0,5541000.0,18.840347,30.7300,456769.737,3.0,2001.0,1.0

In [11]:
df_firm.head()

,Ticker,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,FLWS,1 800 Flowers Com Inc,1,Com A,US,Stock,Retail Trade,NASDAQ,Trade,Retail Trade,-
1,TXG,"10x Genomics, Inc",2,Com A,US,Stock,Manufacturing,NASDAQ,Electric Electron,"Navigational, Measuring, Electromedical, and C...",-
2,GOED,1847 Goedeker Inc,3,Com,US,Stock,Retail Trade,AMEX,Trade,Furniture and Home Furnishings Stores,-
3,ONEM,"1life Healthcare, Inc",4,Com,US,Stock,Health Care and Social Assistance,NASDAQ,Other,Offices of Physicians,-
4,SRCE,1st Source Corp,5,Com,US,Stock,Finance and Insurance,NASDAQ,Finance and Insurance,Depository Credit Intermediation,-

In [42]:
df_more = df.copy()

#Calculate bookvalue
df_more['bookvalue'] = df_more['totalassets'] - df_more['totalliabilities']

#Calculate Market Value
df_more['marketvalue'] = df_more['originalprice'] * df_more['sharesoutstanding']

#Calculate Operating profit margin
df_more['op_profit'] = df_more['revenue'] - df_more['cogs'] - df_more['sgae'] - df_more['otheropexp']
df_more['op_profit_margin'] = df_more['op_profit'] / df_more['revenue']
df_more['net_income'] = df_more['op_profit'] - df_more['incometax'] - df_more['finexp']
df_more['profit_margin'] = df_more['net_income'] / df_more['revenue']

In [78]:
#put industry column
firm_list = df['firm'].unique()
df_firm_more = df_firm.copy()
df_firm_more['industry'] = df_firm_more['Sector NAICS\nlevel 1']
df_firm_more = df_firm_more.replace({'industry': industry_dict})

firm_industry_dic = {}

for firm in firm_list:
  firm_industry_dic[firm] = (df_firm_more[df_firm_more['Ticker'] == firm]['industry']).values
  #firm_industry_dic[firm] = firm_industry_dic[firm]
  #print(df_firm_more[df_firm_more['Ticker'] == firm]['industry'].values.tolist()[0])

firm_industry_dic

{'A': array(['Manufacturing'], dtype=object),
 'AA': array(['Manufacturing'], dtype=object),
 'AAIC': array(['Finance'], dtype=object),
 'AAL': array(['Services'], dtype=object),
 'AAME': array(['Finance'], dtype=object),
 'AAOI': array(['Manufacturing'], dtype=object),
 'AAON': array(['Manufacturing'], dtype=object),
 'AAP': array(['Comercial'], dtype=object),
 'AAPL': array(['Manufacturing'], dtype=object),
 'AAT': array(['Finance'], dtype=object),
 'AAWW': array(['Services'], dtype=object),
 'ABBV': array(['Manufacturing'], dtype=object),
 'ABC': array(['Comercial'], dtype=object),
 'ABCB': array(['Finance'], dtype=object),
 'ABEO': array(['Manufacturing'], dtype=object),
 'ABG': array(['Comercial'], dtype=object),
 'ABM': array(['Services'], dtype=object),
 'ABMD': array(['Manufacturing'], dtype=object),
 'ABNB': array(['Services'], dtype=object),
 'ABOS': array(['Manufacturing'], dtype=object),
 'ABR': array(['Finance'], dtype=object),
 'ABSI': array(['Services'], dtype=object),
 'ABT': array(['Manufacturing'], dtype=object),
 'ABTX': array(['Finance'], dtype=object),
 'ABVC': array(['Manufacturing'], dtype=object),
 'AC': array(['Finance'], dtype=object),
 'ACA': array(['Manufacturing'], dtype=object),
 'ACAD': array(['Manufacturing'], dtype=object),
 'ACC': array(['Finance'], dtype=object),
 'ACCD': array(['Services'], dtype=object),
 'ACCO': array(['Manufacturing'], dtype=object),
 'ACER': array(['Manufacturing'], dtype=object),
 'ACHC': array(['Services'], dtype=object),
 'ACHV': array(['Manufacturing'], dtype=object),
 'ACI': array(['Comercial'], dtype=object),
 'ACIW': array(['Services'], dtype=object),
 'ACLS': array(['Manufacturing'], dtype=object),
 'ACLX': array(['Manufacturing'], dtype=object),
 'ACM': array(['Services'], dtype=object),
 'ACMR': array(['Manufacturing'], dtype=object),
 'ACNB': array(['Finance'], dtype=object),
 'ACOR': array(['Manufacturing'], dtype=object),
 'ACRE': array(['Finance'], dtype=object),
 'ACRS': array(['Manufacturing'], dtype=object),
 'ACRX': array(['Manufacturing'], dtype=object),
 'ACT': array(['Finance'], dtype=object),
 'ACTG': array(['Finance'], dtype=object),
 'ACU': array(['Manufacturing'], dtype=object),
 'ACVA': array(['Services'], dtype=object),
 'ACXP': array(['Manufacturing'], dtype=object),
 'ADBE': array(['Services'], dtype=object),
 'ADC': array(['Finance'], dtype=object),
 'ADGI': array(['Manufacturing'], dtype=object),
 'ADI': array(['Manufacturing'], dtype=object),
 'ADM': array(['Manufacturing'], dtype=object),
 'ADMA': array(['Manufacturing'], dtype=object),
 'ADMP': array(['Manufacturing'], dtype=object),
 'ADP': array(['Services'], dtype=object),
 'ADPT': array(['Manufacturing'], dtype=object),
 'ADSK': array(['Services'], dtype=object),
 'ADT': array(['Services'], dtype=object),
 'ADTN': array(['Manufacturing'], dtype=object),
 'ADTX': array(['Manufacturing'], dtype=object),
 'ADUS': array(['Services'], dtype=object),
 'ADVM': array(['Manufacturing'], dtype=object),
 'AE': array(['Comercial'], dtype=object),
 'AEE': array(['Energy'], dtype=object),
 'AEHR': array(['Manufacturing'], dtype=object),
 'AEI': array(['Finance'], dtype=object),
 'AEIS': array(['Manufacturing'], dtype=object),
 'AEL': array(['Finance'], dtype=object),
 'AEMD': array(['Manufacturing'], dtype=object),
 'AEO': array(['Comercial'], dtype=object),
 'AEP': array(['Energy'], dtype=object),
 'AERC': array(['Manufacturing'], dtype=object),
 'AERI': array(['Manufacturing'], dtype=object),
 'AES': array(['Energy'], dtype=object),
 'AEY': array(['Comercial'], dtype=object),
 'AFCG': array(['Finance'], dtype=object),
 'AFG': array(['Finance'], dtype=object),
 'AFI': array(['Manufacturing'], dtype=object),
 'AFIB': array(['Manufacturing'], dtype=object),
 'AFL': array(['Finance'], dtype=object),
 'AFRM': array(['Finance'], dtype=object),
 'AGCO': array(['Manufacturing'], dtype=object),
 'AGEN': array(['Manufacturing'], dtype=object),
 'AGFS': array(['Manufacturing'], dtype=object),
 'AGIO': array(['Manufacturing'], dtype=object),
 'AGL': array(['Services'], dtype=object),
 'AGLE': array(['Manufacturing'], dtype=object),
 'AGM': array(['Finance'], dtype=object),
 'AGNC': array(['Finance'], dtype=object),
 'AGR': array(['Energy'], dtype=object),
 'AGRX': array(['Manufacturing'], dtype=object),
 'AGTC': array(['Manufacturing'], dtype=object),
 'AGTI': array(['Services'], dtype=object),
 'AGX': array(['Construction'], dtype=object),
 'AGYS': array(['Services'], dtype=object),
 'AHH': array(['Finance'], dtype=object),
 'AHPI': array(['Manufacturing'], dtype=object),
 'AHT': array(['Finance'], dtype=object),
 'AI': array(['Services'], dtype=object),
 'AIG': array(['Finance'], dtype=object),
 'AIKI': array(['Services'], dtype=object),
 'AIM': array(['Manufacturing'], dtype=object),
 'AIMC': array(['Manufacturing'], dtype=object),
 'AIN': array(['Manufacturing'], dtype=object),
 'AINC': array(['Services'], dtype=object),
 'AIP': array(['Manufacturing'], dtype=object),
 'AIR': array(['Manufacturing'], dtype=object),
 'AIRI': array(['Manufacturing'], dtype=object),
 'AIRS': array(['Services'], dtype=object),
 'AIRT': array(['Services'], dtype=object),
 'AIT': array(['Comercial'], dtype=object),
 'AIV': array(['Finance'], dtype=object),
 'AIZ': array(['Finance'], dtype=object),
 'AJG': array(['Finance'], dtype=object),
 'AJRD': array(['Manufacturing'], dtype=object),
 'AJX': array(['Finance'], dtype=object),
 'AKA': array(['Comercial'], dtype=object),
 'AKAM': array(['Services'], dtype=object),
 'AKBA': array(['Manufacturing'], dtype=object),
 'AKR': array(['Finance'], dtype=object),
 'AKRO': array(['Manufacturing'], dtype=object),
 'AKTX': array(['Manufacturing'], dtype=object),
 'AKUS': array(['Manufacturing'], dtype=object),
 'AKYA': array(['Manufacturing'], dtype=object),
 'AL': array(['Finance'], dtype=object),
 'ALB': array(['Manufacturing'], dtype=object),
 'ALBO': array(['Manufacturing'], dtype=object),
 'ALCO': array(['Agriculture'], dtype=object),
 'ALDX': array(['Manufacturing'], dtype=object),
 'ALE': array(['Energy'], dtype=object),
 'ALEC': array(['Manufacturing'], dtype=object),
 'ALEX': array(['Finance'], dtype=object),
 'ALF': array(['Services'], dtype=object),
 'ALG': array(['Manufacturing'], dtype=object),
 'ALGM': array(['Manufacturing'], dtype=object),
 'ALGN': array(['Manufacturing'], dtype=object),
 'ALGS': array(['Manufacturing'], dtype=object),
 'ALGT': array(['Services'], dtype=object),
 'ALHC': array(['Finance'], dtype=object),
 'ALIM': array(['Manufacturing'], dtype=object),
 'ALK': array(['Services'], dtype=object),
 'ALKT': array(['Services'], dtype=object),
 'ALL': array(['Finance'], dtype=object),
 'ALLK': array(['Manufacturing'], dtype=object),
 'ALLO': array(['Manufacturing'], dtype=object),
 'ALLY': array(['Finance'], dtype=object),
 'ALNA': array(['Manufacturing'], dtype=object),
 'ALNY': array(['Manufacturing'], dtype=object),
 'ALOT': array(['Manufacturing'], dtype=object),
 'ALPN': array(['Manufacturing'], dtype=object),
 'ALR': array(['Services'], dtype=object),
 'ALRM': array(['Services'], dtype=object),
 'ALRN': array(['Manufacturing'], dtype=object),
 'ALRS': array(['Finance'], dtype=object),
 'ALSN': array(['Manufacturing'], dtype=object),
 'ALTO': array(['Manufacturing'], dtype=object),
 'ALTR': array(['Services'], dtype=object),
 'ALV': array(['Manufacturing'], dtype=object),
 'ALVR': array(['Manufacturing'], dtype=object),
 'ALX': array(['Finance'], dtype=object),
 'ALZN': array(['Manufacturing'], dtype=object),
 'AM': array(['Services'], dtype=object),
 'AMAM': array(['Manufacturing'], dtype=object),
 'AMAT': array(['Manufacturing'], dtype=object),
 'AMBA': array(['Manufacturing'], dtype=object),
 'AMBC': array(['Finance'], dtype=object),
 'AMC': array(['Services'], dtype=object),
 'AMCX': array(['Services'], dtype=object),
 'AMD': array(['Manufacturing'], dtype=object),
 'AME': array(['Manufacturing'], dtype=object),
 'AMED': array(['Services'], dtype=object),
 'AMG': array(['Finance'], dtype=object),
 'AMGN': array(['Manufacturing'], dtype=object),
 'AMH': array(['Finance'], dtype=object),
 'AMK': array(['Finance'], dtype=object),
 'AMKR': array(['Manufacturing'], dtype=object),
 'AMLX': array(['Manufacturing'], dtype=object),
 'AMN': array(['Services'], dtype=object),
 'AMNB': array(['Finance'], dtype=object),
 'AMOT': array(['Manufacturing'], dtype=object),
 'AMP': array(['Finance'], dtype=object),
 'AMPE': array(['Manufacturing'], dtype=object),
 'AMPH': array(['Manufacturing'], dtype=object),
 'AMPL': array(['Services'], dtype=object),
 'AMRC': array(['Construction'], dtype=object),
 'AMRS': array(['Manufacturing'], dtype=object),
 'AMRX': array(['Manufacturing'], dtype=object),
 'AMS': array(['Services'], dtype=object),
 'AMSC': array(['Manufacturing'], dtype=object),
 'AMSF': array(['Finance'], dtype=object),
 'AMST': array(['Services'], dtype=object),
 'AMSWA': array(['Services'], dtype=object),
 'AMT': array(['Finance'], dtype=object),
 'AMTB': array(['Finance'], dtype=object),
 'AMTI': array(['Manufacturing'], dtype=object),
 'AMTX': array(['Manufacturing'], dtype=object),
 'AMWD': array(['Manufacturing'], dtype=object),
 'AMWL': array(['Services'], dtype=object),
 'AMZN': array(['Comercial'], dtype=object),
 'AN': array(['Comercial'], dtype=object),
 'ANAB': array(['Manufacturing'], dtype=object),
 'ANDE': array(['Comercial'], dtype=object),
 'ANEB': array(['Manufacturing'], dtype=object),
 'ANET': array(['Manufacturing'], dtype=object),
 'ANF': array(['Comercial'], dtype=object),
 'ANGI': array(['Services'], dtype=object),
 'ANGN': array(['Manufacturing'], dtype=object),
 'ANGO': array(['Manufacturing'], dtype=object),
 'ANIK': array(['Manufacturing'], dtype=object),
 'ANIX': array(['Manufacturing'], dtype=object),
 'ANNX': array(['Manufacturing'], dtype=object),
 'ANSS': array(['Services'], dtype=object),
 'ANTX': array(['Manufacturing'], dtype=object),
 'ANVS': array(['Manufacturing'], dtype=object),
 'AOMR': array(['Finance'], dtype=object),
 'AOS': array(['Manufacturing'], dtype=object),
 'AOSL': array(['Manufacturing'], dtype=object),
 'AP': array(['Manufacturing'], dtype=object),
 'APA': array(['Mining'], dtype=object),
 'APAM': array(['Finance'], dtype=object),
 'APD': array(['Manufacturing'], dtype=object),
 'APDN': array(['Services'], dtype=object),
 'APEI': array(['Services'], dtype=object),
 'APEN': array(['Manufacturing'], dtype=object),
 'APH': array(['Manufacturing'], dtype=object),
 'API': array(['Manufacturing'], dtype=object),
 'APLD': array(['Services'], dtype=object),
 'APLE': array(['Finance'], dtype=object),
 'APLS': array(['Manufacturing'], dtype=object),
 'APLT': array(['Manufacturing'], dtype=object),
 'APO': array(['Finance'], dtype=object),
 'APOG': array(['Manufacturing'], dtype=object),
 'APP': array(['Services'], dtype=object),
 'APPF': array(['Services'], dtype=object),
 'APPN': array(['Services'], dtype=object),
 'APPS': array(['Finance'], dtype=object),
 'APRE': array(['Manufacturing'], dtype=object),
 'APRN': array(['Comercial'], dtype=object),
 'APTX': array(['Manufacturing'], dtype=object),
 'APYX': array(['Manufacturing'], dtype=object),
 'AQMS': array(['Manufacturing'], dtype=object),
 'AQST': array(['Manufacturing'], dtype=object),
 'AQUA': array(['Manufacturing'], dtype=object),
 'AR': array(['Mining'], dtype=object),
 'ARAV': array(['Manufacturing'], dtype=object),
 'ARAY': array(['Manufacturing'], dtype=object),
 'ARCB': array(['Services'], dtype=object),
 'ARCC': array(['Finance'], dtype=object),
 'ARCH': array(['Mining'], dtype=object),
 'ARDS': array(['Manufacturing'], dtype=object),
 'ARDX': array(['Manufacturing'], dtype=object),
 'ARE': array(['Finance'], dtype=object),
 'ARES': array(['Finance'], dtype=object),
 'ARHS': array(['Manufacturing'], dtype=object),
 'ARI': array(['Finance'], dtype=object),
 'ARIS': array(['Mining'], dtype=object),
 'ARKR': array(['Services'], dtype=object),
 'ARL': array(['Finance'], dtype=object),
 'ARLO': array(['Manufacturing'], dtype=object),
 'ARMK': array(['Services'], dtype=object),
 'ARMP': array(['Manufacturing'], dtype=object),
 'ARNC': array(['Manufacturing'], dtype=object),
 'AROC': array(['Services'], dtype=object),
 'AROW': array(['Finance'], dtype=object),
 'ARQT': array(['Manufacturing'], dtype=object),
 'ARR': array(['Finance'], dtype=object),
 'ARRY': array(['Manufacturing'], dtype=object),
 'ARTNA': array(['Energy'], dtype=object),
 'ARTW': array(['Manufacturing'], dtype=object),
 'ARVN': array(['Manufacturing'], dtype=object),
 'ARW': array(['Comercial'], dtype=object),
 'ARWR': array(['Manufacturing'], dtype=object),
 'ASAN': array(['Services'], dtype=object),
 'ASB': array(['Finance'], dtype=object),
 'ASGN': array(['Services'], dtype=object),
 'ASH': array(['Comercial'], dtype=object),
 'ASIX': array(['Manufacturing'], dtype=object),
 'ASMB': array(['Manufacturing'], dtype=object),
 'ASO': array(['Comercial'], dtype=object),
 'ASPN': array(['Comercial'], dtype=object),
 'ASRT': array(['Manufacturing'], dtype=object),
 'ASRV': array(['Finance'], dtype=object),
 'ASTC': array(['Manufacturing'], dtype=object),
 'ASTE': array(['Manufacturing'], dtype=object),
 'ASUR': array(['Services'], dtype=object),
 'ASXC': array(['Manufacturing'], dtype=object),
 'ASYS': array(['Manufacturing'], dtype=object),
 'ATAI': array(['Manufacturing'], dtype=object),
 'ATEC': array(['Manufacturing'], dtype=object),
 'ATEN': array(['Manufacturing'], dtype=object),
 'ATER': array(['Manufacturing'], dtype=object),
 'ATEX': array(['Services'], dtype=object),
 'ATGE': array(['Services'], dtype=object),
 'ATHA': array(['Manufacturing'], dtype=object),
 'ATHX': array(['Manufacturing'], dtype=object),
 'ATI': array(['Manufacturing'], dtype=object),
 'ATKR': array(['Manufacturing'], dtype=object),
 'ATLC': array(['Finance'], dtype=object),
 'ATLO': array(['Finance'], dtype=object),
 'ATNI': array(['Services'], dtype=object),
 'ATNM': array(['Manufacturing'], dtype=object),
 'ATNX': array(['Manufacturing'], dtype=object),
 'ATO': array(['Energy'], dtype=object),
 'ATOS': array(['Manufacturing'], dtype=object),
 'ATR': array(['Manufacturing'], dtype=object),
 'ATRA': array(['Manufacturing'], dtype=object),
 'ATRC': array(['Manufacturing'], dtype=object),
 'ATRI': array(['Manufacturing'], dtype=object),
 'ATRO': array(['Manufacturing'], dtype=object),
 'ATSG': array(['Services'], dtype=object),
 'ATUS': array(['Services'], dtype=object),
 'ATVI': array(['Services'], dtype=object),
 'ATXI': array(['Manufacturing'], dtype=object),
 'ATXS': array(['Manufacturing'], dtype=object),
 'AUB': array(['Finance'], dtype=object),
 'AUBN': array(['Finance'], dtype=object),
 'AUD': array(['Services'], dtype=object),
 'AUMN': array(['Mining'], dtype=object),
 'AURA': array(['Manufacturing'], dtype=object),
 'AUTO': array(['Services'], dtype=object),
 'AUUD': array(['Services'], dtype=object),
 'AUVI': array(['Manufacturing'], dtype=object),
 'AVA': array(['Energy'], dtype=object),
 'AVAH': array(['Services'], dtype=object),
 'AVAV': array(['Manufacturing'], dtype=object),
 'AVB': array(['Finance'], dtype=object),
 'AVD': array(['Manufacturing'], dtype=object),
 'AVDX': array(['Services'], dtype=object),
 'AVEO': array(['Manufacturing'], dtype=object),
 'AVGR': array(['Manufacturing'], dtype=object),
 'AVID': array(['Services'], dtype=object),
 'AVIR': array(['Manufacturing'], dtype=object),
 'AVLR': array(['Services'], dtype=object),
 'AVNS': array(['Manufacturing'], dtype=object),
 'AVNT': array(['Manufacturing'], dtype=object),
 'AVNW': array(['Manufacturing'], dtype=object),
 'AVO': array(['Agriculture'], dtype=object),
 'AVRO': array(['Manufacturing'], dtype=object),
 'AVT': array(['Comercial'], dtype=object),
 'AVTE': array(['Manufacturing'], dtype=object),
 'AVTR': array(['Manufacturing'], dtype=object),
 'AVTX': array(['Manufacturing'], dtype=object),
 'AVXL': array(['Manufacturing'], dtype=object),
 'AVY': array(['Manufacturing'], dtype=object),
 'AVYA': array(['Services'], dtype=object),
 'AWH': array(['Manufacturing'], dtype=object),
 'AWI': array(['Manufacturing'], dtype=object),
 'AWK': array(['Energy'], dtype=object),
 'AWR': array(['Energy'], dtype=object),
 'AWRE': array(['Services'], dtype=object),
 'AWX': array(['Services'], dtype=object),
 'AX': array(['Finance'], dtype=object),
 'AXDX': array(['Manufacturing'], dtype=object),
 'AXGN': array(['Manufacturing'], dtype=object),
 'AXL': array(['Manufacturing'], dtype=object),
 'AXLA': array(['Manufacturing'], dtype=object),
 'AXNX': array(['Manufacturing'], dtype=object),
 'AXON': array(['Manufacturing'], dtype=object),
 'AXP': array(['Finance'], dtype=object),
 'AXR': array(['Construction'], dtype=object),
 'AXSM': array(['Manufacturing'], dtype=object),
 'AXTA': array(['Manufacturing'], dtype=object),
 'AYI': array(['Manufacturing'], dtype=object),
 'AYLA': array(['Manufacturing'], dtype=object),
 'AYRO': array(['Services'], dtype=object),
 'AYTU': array(['Manufacturing'], dtype=object),
 'AYX': array(['Services'], dtype=object),
 'AZEK': array(['Manufacturing'], dtype=object),
 'AZO': array(['Comercial'], dtype=object),
 'AZPN': array(['Services'], dtype=object),
 'AZTA': array(['Manufacturing'], dtype=object),
 'AZYO': array(['Manufacturing'], dtype=object),
 'B': array(['Manufacturing'], dtype=object),
 'BA': array(['Manufacturing'], dtype=object),
 'BAC': array(['Finance'], dtype=object),
 'BAH': array(['Services'], dtype=object),
 'BALL': array(['Manufacturing'], dtype=object),
 'BANC': array(['Finance'], dtype=object),
 'BAND': array(['Services'], dtype=object),
 'BANF': array(['Finance'], dtype=object),
 'BANR': array(['Finance'], dtype=object),
 'BASE': array(['Services'], dtype=object),
 'BATL': array(['Mining'], dtype=object),
 'BAX': array(['Manufacturing'], dtype=object),
 'BBBY': array(['Comercial'], dtype=object),
 'BBGI': array(['Services'], dtype=object),
 'BBI': array(['Manufacturing'], dtype=object),
 'BBIG': array(['Manufacturing'], dtype=object),
 'BBIO': array(['Manufacturing'], dtype=object),
 'BBLG': array(['Manufacturing'], dtype=object),
 'BBQ': array(['Services'], dtype=object),
 'BBSI': array(['Services'], dtype=object),
 'BBW': array(['Comercial'], dtype=object),
 'BBWI': array(['Comercial'], dtype=object),
 'BBY': array(['Comercial'], dtype=object),
 'BC': array(['Manufacturing'], dtype=object),
 'BCAB': array(['Manufacturing'], dtype=object),
 'BCBP': array(['Finance'], dtype=object),
 'BCC': array(['Comercial'], dtype=object),
 'BCEL': array(['Manufacturing'], dtype=object),
 'BCLI': array(['Manufacturing'], dtype=object),
 'BCML': array(['Finance'], dtype=object),
 'BCO': array(['Services'], dtype=object),
 'BCOR': array(['Finance'], dtype=object),
 'BCOV': array(['Services'], dtype=object),
 'BCPC': array(['Manufacturing'], dtype=object),
 'BCRX': array(['Manufacturing'], dtype=object),
 'BDC': array(['Manufacturing'], dtype=object),
 'BDJ': array(['Manufacturing'], dtype=object),
 'BDL': array(['Services'], dtype=object),
 'BDN': array(['Finance'], dtype=object),
 'BDX': array(['Manufacturing'], dtype=object),
 'BE': array(['Manufacturing'], dtype=object),
 'BEAM': array(['Manufacturing'], dtype=object),
 'BEAT': array(['Manufacturing'], dtype=object),
 'BECN': array(['Comercial'], dtype=object),
 'BELFB': array(['Manufacturing'], dtype=object),
 'BEN': array(['Finance'], dtype=object),
 'BERY': array(['Manufacturing'], dtype=object),
 'BFAM': array(['Services'], dtype=object),
 'BFH': array(['Services'], dtype=object),
 'BFIN': array(['Finance'], dtype=object),
 'BFRI': array(['Manufacturing'], dtype=object),
 'BFS': array(['Finance'], dtype=object),
 'BF_B': array([], dtype=object),
 'BG': array(['Manufacturing'], dtype=object),
 'BGB': array(['Manufacturing'], dtype=object),
 'BGCP': array(['Finance'], dtype=object),
 'BGFV': array(['Comercial'], dtype=object),
 'BGS': array(['Manufacturing'], dtype=object),
 'BGSF': array(['Services'], dtype=object),

In [ ]:
df_more['industry'] = df_more['firm']
df_more.replace({'industry': firm_industry_dic})

df_more.head()

In [23]:

#len(firm_list)
industry_list = df_firm['Sector NAICS\nlevel 1'].unique()
#len(industry_list)
#industry_list = industry_list.sort()
industry_list.sort()
industry_list

array(['-', 'Accommodation and Food Services',
       'Administrative and Support and Waste Management and Remediation Services',
       'Agriculture, Forestry, Fishing and Hunting',
       'Arts, Entertainment, and Recreation', 'Construction',
       'Educational Services', 'Finance and Insurance',
       'Health Care and Social Assistance', 'Information',
       'Manufacturing', 'Mining, Quarrying, and Oil and Gas Extraction',
       'Other Services (except Public Administration)',
       'Professional, Scientific, and Technical Services',
       'Real Estate and Rental and Leasing', 'Retail Trade',
       'Transportation and Warehousing', 'Utilities', 'Wholesale Trade'],
      dtype=object)